# Development environment values for basket-api
namespace: eshop-apis
replicaCount: 1

autoscaling:
  enabled: false

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

environment: Development
connectionString: "basketdata.eshop-data.svc.cluster.local"
identityUrl: "http://identity-api.eshop-apis.svc.cluster.local"
EventBusConnection: "rabbitmq.eshop-data.svc.cluster.local"

ingress:
  enabled: false

