apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "webmvc.fullname" . }}
  namespace: {{ .Values.namespace | default "default" }}
  labels:
    {{- include "webmvc.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "webmvc.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "webmvc.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/part-of: eshop
    spec:
      serviceAccountName: {{ include "webmvc.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment }}
            - name: ASPNETCORE_URLS
              value: "http://0.0.0.0:80"
            - name: PurchaseUrl
              value: {{ .Values.PurchaseUrl | quote }}
            - name: IdentityUrl
              value: {{ .Values.IdentityUrl | quote }}
            - name: SignalrHubUrl
              value: {{ .Values.SignalrHubUrl | quote }}
            - name: IdentityUrlHC
              value: {{ .Values.IdentityUrlHC | quote }}
            - name: UseCustomizationData
              value: {{ .Values.UseCustomizationData | quote }}
            - name: UseLoadTest
              value: {{ .Values.UseLoadTest | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.probes.liveness.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
          {{- end }}
          {{- if .Values.probes.readiness.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
